@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model List<Domain.Service.Test.Model.ControleWinServicesModel>


<div class="card pd-20 pd-sm-40">
    <div style="white-space: nowrap;">
        <table id="mesa_trabalho" class="table display" style="width:100%">
            <thead>
                <tr>
                    <th style="width:16px">Serviço</th>
                    <th style="width:16px;">Nome da Máquina</th>
                    <th style="width:16px">Data Última Execução</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <th style="width:16px">@item.NmServico</th>
                        <th style="width:16px">@item.NmMaquina</th>
                        <th style="width:16px">@item.DtUltimaExecucao</th>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
@section Scripts {
    <script src="~/Vendor/lib/datatables/jquery.dataTables.js"></script>
    <script src="~/Vendor/lib/datatables-responsive/dataTables.responsive.js"></script>
    <script src="~/js/dielboteste.js"></script>
}
